table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

.color {
    color: blue;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: blue;
  }

/* Font color */
input.mat-input-element {
    color: blue;
  }